In [1]:
data= [(1,2),(3,1),(0,4)]
sorted_by_first = sorted(data)  # Default sorts by the first element
print(sorted_by_first)
sorted_by_second = sorted(data, key=lambda x: x[1])
print(sorted_by_second)

[(0, 4), (1, 2), (3, 1)]
[(3, 1), (1, 2), (0, 4)]

In [2]:
data= [(1,2),(3,1),(0,4)]
sorted_by_first = sorted(data)  # Default sorts by the first element
print(sorted_by_first)
sorted_by_second = sorted(data, key=lambda x: x[1],reverse=True)
print(sorted_by_second)

[(0, 4), (1, 2), (3, 1)]
[(0, 4), (1, 2), (3, 1)]

In [3]:

data2 = [(1, 3), (1, 2), (2, 1)]
sorted_by_first_second = sorted(data2, key=lambda x: (x[0], x[1]))
print(sorted_by_first_second)

[(1, 2), (1, 3), (2, 1)]

In [4]:
data = { 'date': 1, 'apple': 5, 'banana': 2, 'cherry': 7}
sorted_by_key = dict(sorted(data.items()))
print(sorted_by_key)

{'apple': 5, 'banana': 2, 'cherry': 7, 'date': 1}

In [5]:
data = {'ba': 5, 'banana': 5, 'cherry': 7, 'date': 1}

s=sorted(data.items(),key=lambda x:(x[0],x[1]))
print(dict(s))

{'ba': 5, 'banana': 5, 'cherry': 7, 'date': 1}

In [6]:
data = {'ba': 5, 'banana': 5, 'cherry': 7, 'date': 1}

s=sorted(data.items(),key=lambda x:(x[1],x[0]))
print(dict(s))

{'date': 1, 'ba': 5, 'banana': 5, 'cherry': 7}

In [7]:
# Sort by keys in reverse order
sorted_by_key_desc = dict(sorted(data.items(), reverse=True))
print(sorted_by_key_desc)


# Sort by values (ascending)
sorted_by_value = dict(sorted(data.items(), key=lambda item: item[1]))
print(sorted_by_value)

# Sort by values (descending)
sorted_by_value_desc = dict(sorted(data.items(), key=lambda item: item[1], reverse=True))
print(sorted_by_value_desc)

{'date': 1, 'cherry': 7, 'banana': 5, 'ba': 5}
{'date': 1, 'ba': 5, 'banana': 5, 'cherry': 7}
{'cherry': 7, 'ba': 5, 'banana': 5, 'date': 1}

In [8]:
names = ['Doss' ,'Vamsy' ,'Reddy']
marks = [80,70,65]
name_marks = zip(names, marks)
print(list(name_marks))

[('Doss', 80), ('Vamsy', 70), ('Reddy', 65)]

In [9]:
# Zip with Unequal Length Lists

list1 = [1, 2, 3, 4]
list2 = ['a', 'b']

zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b')]

In [10]:
# Zip More than Two Lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']

zipped = zip(list1, list2, list3)
print(list(zipped))

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [11]:
marks=[23,45,67,89,90, 12]
plist=filter(lambda x:x>=50, marks)
flist=filter(lambda x:x<50 , marks)
print(list(plist))
print(list(flist))

[67, 89, 90]
[23, 45, 12]

In [12]:
fruits=['apple', 'orange' ,'cherry' , 'banana', 'strawberry']

# xfruits contains fruits whose length  is 5 only

l= filter(lambda x:len(x)==5,fruits)
print(list(l))

['apple']

In [13]:
# 1. map

cel=[24,26,28,30]
fah=map(lambda x: x*1.6+32 , cel)
print(list(fah))

# 2. list comprehension

cel=[24,26,28,30]
fah=[x*1.6+32 for x in cel]
print(cel)
print(fah)

[70.4, 73.6, 76.80000000000001, 80.0]
[24, 26, 28, 30]
[70.4, 73.6, 76.80000000000001, 80.0]

In [14]:
import random
for i in range(5):
    print(random.randint(2, 999))

137
764
573
19
799

In [15]:
import random
print(random.random())  #  genereates random nos from 0 to 1

0.08069579694150475

In [16]:
import random
print(random.randint(100_000,999_999))

656404

In [17]:
import random
mylist = ["apple", "banana", "cherry"]
print(random.choice(mylist))

apple

In [18]:
import random
cyclone_name = ["vamsi", "teres" , "elizabeth" ,"mala" ,"rajan"]
print(random.choices(cyclone_name , k=2))

['mala', 'elizabeth']

In [ ]:
# write 5 names in the names.txt 
f=open("names.txt" ,"w")  # w to write 
for i in range(5):
    name=input("Enter name  ")
    f.write(name)
    f.write("\n")
f.close()

In [ ]:
# write 3 names and marks  in the names.txt 
f=open("names.txt" ,"w")  # w to write 
for i in range(3):
    name=input("Enter name  ")
    marks=input("Enter marks ")
    f.write(name+" "+marks+"\n")
   
f.close()

Enter name   v
Enter marks  10
Enter name   v2
Enter marks  20
Enter name   v3
Enter marks  30

In [ ]:
f=open("data.txt")

print("*"*20)

print("Name Marks Grade")

print("*"*20)

for row  in f:

    name,marks=row.split()

    if int(marks)>=50:

       grade='Pass'

    else:

       grade='Fail'

    print(name+"    "+marks+"    "+grade)   

    print("*"*20)

********************
Name Marks Grade
********************
A    60    Pass
********************
B    86    Pass
********************
C    23    Fail
********************
D    25    Fail
********************
V    83    Pass
********************

In [ ]:
# one class exception - built in class .
 
try:
    num = int("abc")
except ValueError as e :
    print(e)

invalid literal for int() with base 10: 'abc'

In [ ]:
#2. Multiple Exceptions
 
try:
    result = 10/ 0
 
except ZeroDivisionError:
    print("Division by zero not allowed.")
except ValueError:
    print("Value error occurred.")

Division by zero not allowed.

In [ ]:
try :
  age=int(input("Enter value for age "))
  print(age)
except ValueError as e:
  print(e)

Enter value for age  10

10

In [ ]:
try:
    num = int(input("Enter value for num " ))
except ValueError:
    print("Conversion failed.")
else:
    print("Conversion successful:", num)

Enter value for num  a

Conversion failed.

In [ ]:
try:
    f = open("test.txt", "r")
    data = f.read()
except FileNotFoundError:
    print("File not found.")
finally:
    print("Execution completed.")

File not found.
Execution completed.

In [ ]:
try:
    my_dict = {"a": 1}
    print(my_dict["b"])
except KeyError:
    print("Key does not exist.")

Key does not exist.

In [ ]:
try:

    lst = [1, 2, 3]

    print(lst[5])

except IndexError as e:

    print(e)

list index out of range

In [ ]:
class NegativeNumberError(Exception):     # Exception is predefined class. It is base class 

    pass                                  # pass does nothing

try:

    age=int(input("Enter value for age ")) 

    if age < 0:

        raise NegativeNumberError("Age with negative value is not allowed")

    else:

        print("Age is   " , age )

except NegativeNumberError as e:

    print("Custom Exception:", e)

Enter value for age  3

Age is    3

In [ ]:
class NegativeNumberError(Exception):     # Exception is predefined class. It is base class 
    pass                                  # pass does nothing
try:
    age=int(input("Enter value for age ")) 
    if age < 0:
        raise NegativeNumberError("Age with negative value is not allowed")
    if age >=0 and age <18:
       raise NegativeNumberError("Age  must be above 18  ")
    if age>=18:
       print("My age is   ", age)
except NegativeNumberError as e:
    print("Custom Exception:", e)

Enter value for age  18

My age is    18